In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_csv("raw_data/100720.csv")

### Data Observations

##### More than half the dataset is from the NucleaSeq Finkelstein experiments
##### Finkelstein experiments do not contain cell line or chromosome due to being in vitro
##### Finkelstein experiments do not contain target_context
##### Sequences are variable lengths
##### target_sequence ranges in length 20-25 nt
##### grna_target_sequence ranges in length 22-24 nt
##### 75 pairs which do not have a cleavage frequency
##### Length of grna != length of target for some pairs

### Data Cleaning

##### Remove cell line, chromosome, target context, geneid since it is not available for over half the data

In [3]:
data = raw_data.drop([
    "target_chr", 
    "target_start", 
    "target_end", 
    "target_context", 
    "target_geneid", 
    "grna_target_chr", 
    "grna_target_start", 
    "grna_target_end",
    "genome",
    "cell_line"], axis = 1)
data

,id,target_strand,target_sequence,grna_target_strand,grna_target_sequence,cleavage_freq,epigen_ctcf,epigen_dnase,epigen_rrbs,epigen_h3k4me3,epigen_drip,energy_1,energy_2,energy_3,energy_4,energy_5,study_name,whole_genome,delivery_mode
0,0,+,CTTGCCCCACAGGGCAGTAACGG,+,CTTGCCCCACAGGGCAGTAACGG,7.875890e-01,0.0,0.0,0.0,0.0,0.0,22.650,20.146794,20.146794,31.050,31.050,Kim,0,2
1,1,-,CTCTGTCTCGCGCTGCTTTTGGG,+,CTTGCCCCACAGGGCAGTAACGG,3.840000e-04,0.0,0.0,0.0,0.0,0.0,-17.665,-51.262216,-51.262216,-9.265,-9.265,Kim,0,2
2,2,+,TCTACCCCACATGGCAGTAATGG,+,CTTGCCCCACAGGGCAGTAACGG,3.050000e-04,0.0,0.0,0.0,0.0,0.0,13.760,6.245204,6.245204,22.160,22.160,Kim,0,2
3,3,+,CCATAGCACTCTTTAAAAAAAGC,+,CTTGCCCCACAGGGCAGTAACGG,0.000000e+00,0.0,0.0,0.0,0.0,0.0,-19.275,0.000000,-46.939290,0.000,-10.875,Kim,0,2
4,4,+,CTTACCTCACAGGGCAGTGAGAG,+,CTTGCCCCACAGGGCAGTAACGG,4.800000e-05,0.0,0.0,0.0,0.0,0.0,11.610,2.751414,3.057127,18.009,20.010,Kim,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25627,25627,+,GTGATAAGTGGAATGCCATGTGT,+,GTGATAAGTGGAATGCCATGTGG,9.614866e-20,0.0,0.0,0.0,0.0,0.0,24.400,0.000000,18.270788,0.000,26.900,Finkelstein,0,2
25628,25628,+,GTGATAAGTGGAATGCCATGTTA,+,GTGATAAGTGGAATGCCATGTGG,5.104533e-17,0.0,0.0,0.0,0.0,0.0,24.400,0.000000,18.270788,0.000,26.900,Finkelstein,0,2
25629,25629,+,GTGATAAGTGGAATGCCATGTTC,+,GTGATAAGTGGAATGCCATGTGG,1.125790e-19,0.0,0.0,0.0,0.0,0.0,24.400,0.000000,18.270788,0.000,26.900,Finkelstein,0,2
25630,25630,+,GTGATAAGTGGAATGCCATGTTG,+,GTGATAAGTGGAATGCCATGTGG,7.712115e-06,0.0,0.0,0.0,0.0,0.0,24.400,0.000000,18.270788,0.000,26.900,Finkelstein,0,2
25631,25631,+,GTGATAAGTGGAATGCCATGTTT,+,GTGATAAGTGGAATGCCATGTGG,1.490279e-22,0.0,0.0,0.0,0.0,0.0,24.400,0.000000,18.270788,0.000,26.900,Finkelstein,0,2

### Data Selection

##### Version 1
##### Parameters: gRNA sequence, target sequence

In [4]:
data = data[["grna_target_sequence", "target_sequence", "cleavage_freq"]]
data = data.convert_dtypes()

### Data Augmentation

##### Version 1
##### No data augmentation

### Data Padding

##### Version 1
##### Padding: Pad end of each sequence out to 50 with X

In [5]:
data["grna_target_sequence"] = data["grna_target_sequence"].str.pad(width=50, side='right', fillchar='X')
data["target_sequence"] = data["target_sequence"].str.pad(width=50, side='right', fillchar='X')
data

,grna_target_sequence,target_sequence,cleavage_freq
0,CTTGCCCCACAGGGCAGTAACGGXXXXXXXXXXXXXXXXXXXXXXX...,CTTGCCCCACAGGGCAGTAACGGXXXXXXXXXXXXXXXXXXXXXXX...,7.875890e-01
1,CTTGCCCCACAGGGCAGTAACGGXXXXXXXXXXXXXXXXXXXXXXX...,CTCTGTCTCGCGCTGCTTTTGGGXXXXXXXXXXXXXXXXXXXXXXX...,3.840000e-04
2,CTTGCCCCACAGGGCAGTAACGGXXXXXXXXXXXXXXXXXXXXXXX...,TCTACCCCACATGGCAGTAATGGXXXXXXXXXXXXXXXXXXXXXXX...,3.050000e-04
3,CTTGCCCCACAGGGCAGTAACGGXXXXXXXXXXXXXXXXXXXXXXX...,CCATAGCACTCTTTAAAAAAAGCXXXXXXXXXXXXXXXXXXXXXXX...,0.000000e+00
4,CTTGCCCCACAGGGCAGTAACGGXXXXXXXXXXXXXXXXXXXXXXX...,CTTACCTCACAGGGCAGTGAGAGXXXXXXXXXXXXXXXXXXXXXXX...,4.800000e-05
...,...,...,...
25627,GTGATAAGTGGAATGCCATGTGGXXXXXXXXXXXXXXXXXXXXXXX...,GTGATAAGTGGAATGCCATGTGTXXXXXXXXXXXXXXXXXXXXXXX...,9.614866e-20
25628,GTGATAAGTGGAATGCCATGTGGXXXXXXXXXXXXXXXXXXXXXXX...,GTGATAAGTGGAATGCCATGTTAXXXXXXXXXXXXXXXXXXXXXXX...,5.104533e-17
25629,GTGATAAGTGGAATGCCATGTGGXXXXXXXXXXXXXXXXXXXXXXX...,GTGATAAGTGGAATGCCATGTTCXXXXXXXXXXXXXXXXXXXXXXX...,1.125790e-19
25630,GTGATAAGTGGAATGCCATGTGGXXXXXXXXXXXXXXXXXXXXXXX...,GTGATAAGTGGAATGCCATGTTGXXXXXXXXXXXXXXXXXXXXXXX...,7.712115e-06
25631,GTGATAAGTGGAATGCCATGTGGXXXXXXXXXXXXXXXXXXXXXXX...,GTGATAAGTGGAATGCCATGTTTXXXXXXXXXXXXXXXXXXXXXXX...,1.490279e-22

### Data Encoding

##### Version 1
##### Sequential Encoding: X->0, A->0.25, T->0.5, G->0.75, C->1.0

In [6]:
class Encoding:
    def encode_nt(nt: str) -> int:
        assert len(nt) == 1
        encoding_dict = {
            'X':0, 
            'A':0.25,
            'T':0.50,
            'G':0.75,
            'C':1.00
        }
        return encoding_dict.get(nt.upper())
    
    def encode_seq(seq: str):
        encoding = [
            Encoding.encode_nt(nt)
            for nt in seq
        ]
        return np.array(encoding)
    
    def encode_seqs(sequence_array):
        encoded_sequences = [
            Encoding.encode_seq(seq)
            for seq in sequence_array
        ]
        return encoded_sequences

In [7]:
data["grna_target_sequence"] = Encoding.encode_seqs(data["grna_target_sequence"])
data["target_sequence"] = Encoding.encode_seqs(data["target_sequence"])
data

,grna_target_sequence,target_sequence,cleavage_freq
0,"[1.0, 0.5, 0.5, 0.75, 1.0, 1.0, 1.0, 1.0, 0.25...","[1.0, 0.5, 0.5, 0.75, 1.0, 1.0, 1.0, 1.0, 0.25...",7.875890e-01
1,"[1.0, 0.5, 0.5, 0.75, 1.0, 1.0, 1.0, 1.0, 0.25...","[1.0, 0.5, 1.0, 0.5, 0.75, 0.5, 1.0, 0.5, 1.0,...",3.840000e-04
2,"[1.0, 0.5, 0.5, 0.75, 1.0, 1.0, 1.0, 1.0, 0.25...","[0.5, 1.0, 0.5, 0.25, 1.0, 1.0, 1.0, 1.0, 0.25...",3.050000e-04
3,"[1.0, 0.5, 0.5, 0.75, 1.0, 1.0, 1.0, 1.0, 0.25...","[1.0, 1.0, 0.25, 0.5, 0.25, 0.75, 1.0, 0.25, 1...",0.000000e+00
4,"[1.0, 0.5, 0.5, 0.75, 1.0, 1.0, 1.0, 1.0, 0.25...","[1.0, 0.5, 0.5, 0.25, 1.0, 1.0, 0.5, 1.0, 0.25...",4.800000e-05
...,...,...,...
25627,"[0.75, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25, 0.75,...","[0.75, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25, 0.75,...",9.614866e-20
25628,"[0.75, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25, 0.75,...","[0.75, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25, 0.75,...",5.104533e-17
25629,"[0.75, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25, 0.75,...","[0.75, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25, 0.75,...",1.125790e-19
25630,"[0.75, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25, 0.75,...","[0.75, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25, 0.75,...",7.712115e-06
25631,"[0.75, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25, 0.75,...","[0.75, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25, 0.75,...",1.490279e-22