In [1]:
import pandas as pd
import torch

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

### Model

,grna_target_sequence,target_sequence,cleavage_freq
0,[0.25 1. 0.75 0.5 1. 0.5 0.25 1. 0.5 ...,[0.25 0.25 1. 1. 0.5 1. 0.5 0.25 0.25 ...,0.000000e+00
1,[0.75 0.5 0.75 0.25 0.5 0.25 0.25 0.75 0.5 ...,[0.75 0.5 0.75 0.25 0.5 0.25 0.25 0.75 0.5 ...,1.330289e-25
2,[0.75 0.25 1. 0.75 1. 0.25 0.5 0.25 0.25 ...,[0.75 0.25 1. 0.75 1. 0.25 0.5 0.25 0.25 ...,5.342899e-02
3,[0.75 0.25 1. 0.75 1. 0.25 0.5 0.25 0.25 ...,[0.75 0.25 1. 0.75 0.75 1. 0.25 0.5 0.25 ...,9.758859e-05
4,[0.75 0.25 1. 1. 1. 1. 1. 0.5 1. ...,[1. 1. 1. 1. 0.25 1. 1. 1. 1. ...,5.700000e-05
...,...,...,...
5122,[0.75 0.25 0.25 1. 0.25 1. 0.25 0.25 0.25 ...,[0.75 0.75 0.25 1. 0.25 1. 0.25 0.25 0.75 ...,6.520000e-04
5123,[0.75 0.5 0.75 0.25 0.5 0.25 0.25 0.75 0.5 ...,[0.75 0.5 0.75 0.25 0.5 0.25 0.25 0.75 0.5 ...,7.328146e-26
5124,[0.75 0.5 0.75 0.25 0.5 0.25 0.25 0.75 0.5 ...,[0.75 0.5 1. 0.75 0.25 0.5 0.25 1. 0.25 ...,2.093265e-05
5125,[0.75 0.25 1. 1. 1. 1. 1. 0.5 1. ...,[1. 0.25 0.75 1. 1. 1. 1. 0.5 0.75 ...,1.990000e-04
5126,[0.75 0.25 1. 0.75 1. 0.25 0.5 0.25 0.25 ...,[0.75 0.25 1. 0.75 1. 0.25 0.5 0.25 0.25 ...,1.540413e-03